{% load static %}
{% comment %} <section class="hero" aria-labelledby="hero-title">
  <div class="hero__box container">
    <div class="hero__pano" style="background-image: url({% static 'hero.png' %})"">
      <div class="hero__inner">
        <h1 class="hero__inner-title">
          Вся информация о мерах <br /><span
            class="hero__inner-title hero__inner-blue"
            >социальной поддержки</span
          ><br />в одном месте
        </h1>
        <div class="hero__inner-body">
          <p class="hero__inner-text">
            Узнавайте полезную <br />информацию быстро и удобно
          </p>
          <button class="button" type="button">
            <span class="button__label">Начать поиск</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section> {% endcomment %}
{% with hero=herosection %}
<section class="hero" aria-labelledby="hero-title">
    <div class="container hero__box">
      <div class="hero__pano" style="background-image: url({% static 'hero.png' %})">
        <div class="hero__inner">
          <h1 class="hero__inner-title">
            {{ hero.title|safe }}
          </h1>
          <div class="hero__inner-body">
            <p class="hero__inner-text">
              <p>{{ hero.description|safe }}</p>
            </p>
            <button class="button" type="button">
              <span class="button__label">{{ hero.button_text }}</span>
            </button>
          </div>
        </div>
</section>
{% endwith %}
