<div class="container social-groups">
    <h2 class="section-title h2">Социальные группы</h2>
    
    <div class="groups-grid">
        {% for group in target_groups %}
        <div class="group-card">
            <div class="group-card__content">
                <h3 class="group-card__title h3">{{ group.name }}</h3>
                <p class="group-card__text">Доступно мер поддержки: {{ group.service_count }}</p>
                <a href="{% url 'group-detail' group.id %}" class="group-card__link button">
                    Подробнее
                </a>
            </div>
        </div>
        {% empty %}
        <p class="groups-empty">Нет активных социальных групп</p>
        {% endfor %}
    </div>
</div>